$hover-color: #414141;

.date-enter {
  opacity: 0;
}
.date-enter-active {
  opacity: 1;
  transition: all 300ms;
}
.date-exit {
  opacity: 1;
  transform: scale(0.8);
  transition: all 300ms;
}
.date-exit-active {
  opacity: 0;
  transition: all 300ms;
}

.item-enter {
  opacity: 0;
  transform: translateX(50px);
}
.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s ease-in;
}

.item-left-enter {
  opacity: 0;
  transform: translateX(-50px);
}
.item-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s ease-in;
}

.day-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.day-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.calendar-input {
  position: relative;

  input {
    padding: 4px;
    border-radius: 4px;

    &:focus {
      outline: none;
    }
  }

  div {
    position: absolute;
    right: 6px;
    top: 2px;
    color: black;
    cursor: pointer;
  }
}

.calendar {
  max-width: 220px;
  position: relative;
  color: white;
  margin: auto;
  margin-top: 50px;
}

.date-picker {
  background-color: #2f2f2f;
  padding: 15px;
  padding-top: 8px;
  border-radius: 4px;
  width: 280px;
  height: 280px;
  font-size: 16px;
  position: absolute;
  top: 30px;
  border: 1px solid white;
}

.header,
.date,
.control-months {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.header {
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
  padding-top: 4px;
}

.date {
  align-items: baseline;
  gap: 15px;
  cursor: pointer;
}

.day-names {
  color: rgb(150, 150, 150);
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 25px);
  text-align: center;
  grid-template-rows: repeat(7, 15px);
  gap: 16px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.day-element {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;

  &:hover {
    background-color: $hover-color;
  }

  .hollow:hover {
    background-color: #2f2f2f;
  }
}

.control-months {
  font-size: 25px;
  font-weight: bold;
  gap: 20px;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;

  & div:hover {
    opacity: 0.8;
  }
}

.year-pick {
  font-size: 14px;
  padding: 4px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  user-select: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #414141;
  }

  &:active {
    background-color: #a5a5a5;
  }

  &.open {
    transform: rotate(180deg);
  }
}

.year-view {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 15px;
  column-gap: 10px;
  padding-right: 10px;
  font-size: 18px;
  overflow-y: scroll;
  height: 240px;
}

.year-element {
  padding: 8px;
  border-radius: 12px;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $hover-color;
  }
}

.active {
  background-color: #90caf9;
  color: #2f2f2f;

  &:hover {
    background-color: #5db4fa;
  }
}
